@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import "reset.css";
@import "landingpage/header.css";

/* variables */
:root {
	--orange: #FEA83B;
	--light-blue: #6066F2;
	--purple: #B286F8;
	--blue: #4C44C1;
	--light-purple: #E6CDF9;
	--shadow-color: rgba(0,0,0,0.25);
  }