/* variables */
:root{
	--orange: #FEA83B;
	--light-blue: #6066F2;
	--purple: #B286F8;
	--blue: #4C44C1;
	--light-purple: #E6CDF9;
	--shadow-color: rgba(0,0,0,0.25);
    --light-grey: #f4f5f7;
	--text-grey: #aaacaf;
    --light-placeholder: #d5e2ea;
}
#blue-print{
    background: rgb(24,26,78);
    background: linear-gradient(103deg, rgba(24,26,78,1) 0%, rgba(63,134,217,1) 100%);
    padding: 170px 0;
    color: white;
}
#blue-print .container:after{
    content: "";
    display: table;
    clear: both;
}
#blue-print .left-side{
    width: 60%;
    float: left;
}
#blue-print .left-side img{
    width: 100%;
}
#blue-print .right-side{
    width: 40%;
    float: left;
}
#blue-print .right-side h1{
    font-size: 4rem;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 70px;
    line-height: 1.2;
}
#blue-print .right-side .info-box{
    padding: 0 0 80px;
}
#blue-print .right-side .info-box:after{
    content: "";
    display: table;
    clear: both;
}
#blue-print .right-side .info-box .col-1 {
    width: 40%;
    float: left;
}
#blue-print .right-side .info-box .col-1 .icon-container{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 5px solid white;
    position: relative;
}
#blue-print .right-side .info-box .col-1 .icon-container .dashed-circle{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 2px dashed white;
    margin: 0 auto;
    position: absolute;
    top: 10px;
    left: 10px;
}
#blue-print .right-side .info-box .col-1 .icon-container .fab, #blue-print .right-side .info-box .col-1 .icon-container .fas{
    font-size: 4.5rem;
    position: absolute;
    top: 40px;
    left: 50px;
}
#blue-print .right-side .info-box .col-2 {
    width: 60%;
    float: left;
}
#blue-print .right-side .info-box .col-2 h3{
    font-size: 2rem;
    margin-bottom: 30px;
    margin-top: 29px;
}
#blue-print .right-side .info-box .col-2 p{
    font-size: 1rem;
    margin-bottom: 15px;
}
#blue-print .right-side .info-box .col-2 a{
    font-size: 1rem;
    margin-bottom: 15px;
    color: var(--orange);
    text-transform: uppercase;
    text-decoration: none;
}
