:root {
	--orange: #FEA83B;
	--light-blue: #6066F2;
	--purple: #B286F8;
	--blue: #4C44C1;
	--light-purple: #E6CDF9;
	--shadow-color: rgba(0,0,0,0.25);
  }

header{
    padding: 30px 20px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 50px;
    
}
header:after{
    content: "";
    display: table;
    clear: both;
}
header a{
    color: var(--light-blue);
    text-decoration: none;
    margin-right: 28px;
    font-weight: 700;
}
header .logo{
    display: inline-block;
    float: left;
    margin-right: 28px;
    cursor: pointer;
}
header .logo img{
    width: 40px;
}
header .menu{
    display: inline-block;
    float: left;
    position: relative;
    top: 20px;
}
header .menu a{
    text-transform: uppercase;
}
header .header-buttons{
    display: inline-block;
    float: right;
}

header .header-buttons .blue-btn {
    background: var(--light-blue);
    padding: 14px 46px;
    color: white;
    border-radius: 25px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    top: 20px;
    margin-right: 15px;
}
header .header-buttons .blue-btn .fas{
    margin-left: 10px;
}

header .header-buttons .orange-btn {
    background: #FEA83B;
    padding: 14px 46px;
    color: white;
    border-radius: 25px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    top: 20px;
}
