/* variables */
:root{
	--orange: #FEA83B;
	--light-blue: #6066F2;
	--purple: #B286F8;
	--blue: #4C44C1;
	--light-purple: #E6CDF9;
	--shadow-color: rgba(0,0,0,0.25);
    --light-grey: #f4f5f7;
	--text-grey: #aaacaf;
}

#latest{
    padding: 50px 0;
}
#latest .header{
    padding: 50px 0;
}
#latest .header:after{
    content: "";
    display: table;
    clear: both;
}
#latest .header h1{
    color: var(--light-blue);
    font-size: 4.2rem;
    max-width: 400px;
    width: 100%;
    display: inline-block;
    float: left;
}
#latest .header .directions{
    display: inline-block;
    float: right;
    position: relative;
    top: 25px;
}
#latest .header .directions .move-left{
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    float: left;
    padding: 20px 70px;
    font-size: 3rem;
    background: var(--light-blue);
    color: white;
    border: 1px solid var(--light-blue);
    cursor: pointer;

}
#latest .header .directions .move-right{
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    float: right;
    padding: 20px 70px;
    font-size: 3rem;
    background: white;
    color: var(--text-grey);
    border: 1px solid var(--text-grey);
    cursor: pointer;
}
#latest .body{
    padding: 100px 0;
}
#latest .body:after{
    content: "";
    display: table;
    clear: both;
}
#latest .body .column{
    width: 33.33%;
    float: left;
    padding: 0 15px;
    text-align: center;
}
#latest .body .column .bg-square-1{
    width: 300px;
    height: 300px;
    border-radius: 5px;
    margin: 0 auto;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,157,253,1) 100%);
    position: relative;
}
#latest .body .column .bg-square-2{
    width: 300px;
    height: 300px;
    border-radius: 5px;
    margin: 0 auto;
    background: rgb(241,253,45);
    background: linear-gradient(0deg, rgba(241,253,45,1) 0%, rgba(195,93,34,1) 100%);
    position: relative;
}
#latest .body .column .bg-square-3{
    width: 300px;
    height: 300px;
    border-radius: 5px;
    margin: 0 auto;
    background: rgb(45,253,139);
    background: linear-gradient(0deg, rgba(45,253,139,1) 0%, rgba(34,195,166,1) 100%);
    position: relative;
}

#latest .body .column .bg-square-1 img, #latest .body .column .bg-square-2 img, #latest .body .column .bg-square-3 img{
    width: 80%;
    position: absolute;
    top: -30%;
    left: 10%;
}
#latest .body .column .bg-square-1 .cart{
    width: 94px;
    height: 94px;
    border: 10px solid white;
    top: -47px;
    right: -47px;
    position: absolute;
    border-radius: 50%;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,157,253,1) 100%);
    color: white;
}
#latest .body .column .bg-square-1 .cart .fas, #latest .body .column .bg-square-2 .cart .fas, #latest .body .column .bg-square-3 .cart .fas{
    font-size: 2rem;
    position: relative;
    top: 22px;
    left: -3px;
}

#latest .body .column .bg-square-2 .cart{
    width: 94px;
    height: 94px;
    border: 10px solid white;
    top: -47px;
    right: -47px;
    position: absolute;
    border-radius: 50%;
    background: rgb(241,253,45);
    background: linear-gradient(0deg, rgba(241,253,45,1) 0%, rgba(195,93,34,1) 100%);
    color: white;
}
#latest .body .column .bg-square-3 .cart{
    width: 94px;
    height: 94px;
    border: 10px solid white;
    top: -47px;
    right: -47px;
    position: absolute;
    border-radius: 50%;
    background: rgb(45,253,139);
    background: linear-gradient(0deg, rgba(45,253,139,1) 0%, rgba(34,195,166,1) 100%);
    color: white;
}
